TOKEN=-1309468mc-039uyweorijgpo2345ihy2-309hc9-24hpk
MONGO_URI=mongodb+srv://acwplietaplodsighaprnhgcpa.mongodb.net
VIDEO_CHANNEL_ID=198237501923601293485123
VIDEO_PATH='./data/videos'
VIDEO_SMALLER_PATH='./data/videos/smaller'
VIDEO_FILE_EXT='mp4'
TEST_LINK=https://vm.tiktok.com/12934856askdjb/
FFMPEG_PATH='/usr/bin/ffmpeg'
MUSIC_CHANNEL_ID=0192835709123597
PICS_CHANNEL_ID=129385610923510923
PIC_PATH='./data/pictures'
