TOKEN=ODcxOxqmupwotmaspdhPASEITmpcoimutpoejtPOCSMHC
CHANNEL_ID=9179082370198726123
VIDEO_PATH='./data/videos'
VIDEO_SMALLER_PATH='./data/videos/smaller'
VIDEO_FILE_EXT='webm'
TEST_LINK='https://vm.tiktok.com/a8dCEFISOmpoSIh/'